body {
    text-align: center;
    background-color: pink;
}

h1 {
    font-family: 'Rammetto One', Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
    font-family: 'PT Sans', arial; 
    font-size: 40px;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-top:50px;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

#buttonPaint, #random, #buttonClear {
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 15px 32px; 
    text-align: center;
    text-decoration: none; 
    font-size: 16px; 
    margin: 4px 2px; 
}

#idea {
    font-weight: bold; 
    text-decoration: underline; 
    color: black; 
   
}

.chooseThis{
    margin-bottom: 20px;
}

form {
    /* border-style: solid pink; */
    margin: auto; 
    width: 20%;
    padding: 5px;
    background-color: pink;

}

p{
    color: gray; 
    font-style: italic;
    text-transform: uppercase;
}